<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Medical Assistant</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="container">
    <h1>Multilingual Speech Medical Assistant</h1>
    <div class="language-buttons">
        <button id="englishBtn" class="lang-btn active">English</button>
        <button id="bengaliBtn" class="lang-btn">Bengali</button>
    </div>

    <div class="controls">
        <button id="startBtn">Start</button>
        <button id="stopBtn" disabled>End</button>
    </div>

    <div class="section">
        <h3>Live Transcript</h3>
        <textarea id="transcript" placeholder="Speech will appear here..." readonly></textarea>
    </div>

    <div class="section">
        <h3>Predicted Disease & Medicines</h3>
        <div id="result">
            <p>No prediction yet.</p>
        </div>
    </div>
</div>

<script src="../static/js/app.js"></script>
</body>
</html>
